[submodule "src/external/xarm_ros2"]
	path = src/external/xarm_ros2
	url = https://github.com/xArm-Developer/xarm_ros2
	branch = humble
[submodule "src/external/ros_tcp_endpoint"]
	path = src/external/ros_tcp_endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint
	branch = main-ros2
[submodule "src/external/pymoveit2"]
	path = src/external/pymoveit2
	url = https://github.com/AndrejOrsula/pymoveit2
	branch = master
